<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="standard">
		<route frontName="cowell_training" id="cowell_training">
			<module name="Cowell_Training"/>
		</route>
	</router>
</config>
