<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>
		<add id="Cowell::top_level" module="Cowell_Training" resource="Magento_Backend::content" sortOrder="9999" title="Cowell"/>
		<add action="cowell_training/students/index" id="Cowell_Training::cowell_training_students" module="Cowell_Training" parent="Cowell::top_level" resource="Magento_Backend::content" sortOrder="9999" title="students"/>
	</menu>
</config>
